.ml-auto{
  margin-left: auto;
}
.SUB {border-style: solid;}
#title{

  margin: 1%;
  padding: 1.5%;
  background-color: #dce1dc;
}
#features{
  background-color: #f4f6f3;
}
body{
  text-align: center;
}
.hr1 {
    border: solid #474c46 8px;
    border-bottom: none;
    width: 4%;
    margin: auto;
}
.leaf-img{
  position: relative;
  right : 26.5rem;
  z-index: 1;
  bottom: 400px;
  width: 40em;
}
.leaf-div{
  height : 483px;
}
a{
  margin: 20px;
}
h1{
  font-size: 100px;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  color: #595e59;
  text-align: center;
}
.h2top{
  padding-top: 5em;
}
.p2{
  display: inline;
  line-height: 2rem;
}
h2{
  margin-bottom:20px;
}
.img2{
  width: 22em;
  height: 15em;
  margin-bottom: 4rem;
}
.img3{
  width: 35em;
  float :left;
  height: 35em;
}
.hr2{
      border: solid black 3px;
      border-bottom: none;
      width: 5%;
      margin: auto;
}
.latest-div{
  margin-top: 3em;
padding-bottom: 10em;
}
.about{
  padding-top : 8rem;
}
.discription-text{
 text-align: justify;
  width: 35em;
  line-height: 2.2em;
  margin-top: 3em;
  margin-bottom: 9.2em;
  display: inline-block;
}
#cta{
  background-color: #e1e6e0;
}
.sub{
  padding-top: 6rem;
}
h5{
  margin-bottom: 2em;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: Arial;
  color: #595e59;
  font-size: 20px;
  background: #e1e6e0;
  padding: 5px 25px 5px 25px;
  border: solid #595e59 2px;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
}
.box{
  height: 4.5em;
  width: 30em;
}
.icons{
margin-right: 20rem;
margin-left: 10px;
}
.footer-div{
  margin: 6em 3em;
}
.fa-brands {
  margin: 5px;
  font-size: 3rem;
}
.whitebg{
  background-color: #fff;
  margin: 1.5em;
  display: inline-block;
 box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  padding-bottom: 100px;
}
.end{
  padding-top: 1em;
}
